<nav>
    <a href="/">
        <img src="/assets/images/aaron.jpg" id="logo" alt="Me"/>
    </a>

    <h2><a href="/">{{ site.theme.name }}</a></h2>
    <hr/>
    <ul>
        <p>
            {{ site.theme.tagline }}
        </p>
        <hr/>
        <p>
        <ul>
            <li><a href="/index.html">Blog</a></li>
            <li><a href="/projects.html">Recent Projects</a></li>
        </ul>
        </p>
        <div>
            <div id="social">
                {% include social.html %}
            </div>
        </div>
    </ul>
</nav>